<!doctype html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>

<section class="container">
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <center><h1><span class="fa fa-lock"></span>  </span></h1></center>
  </nav><br><br><br><br><br><br>

  
<% provide(:title, "Sign up") %>
<h1>Sign up</h1>
<section class="jumbotron">
<section class='form-group'>
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control'  %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control'  %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>

<% end %>
<p>Have an Account? <%= link_to "Login here", login_path %></p>
      </section>
  </section>
</section>

</body>
</html>