<!doctype html>
<html>
<head>
</head>
<body>
	<p id="notice"><%= notice %></p>

	<% if(@user.id == current_user.id) %>

		<p>Welcome user # <%= @user.id %></p>
		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Password:</strong>
		  <%= @user.password %>
		</p>

		<td><%= button_to "Fill out Personal Background",  new_personal_background_path, method: :get, class: "btn btn-primary", style:"color:white"%></td>
		<br>
		<td><%= button_to "Fill out Family Background",  new_family_background_path, method: :get, class: "btn btn-primary", style:"color:white"%></td>
		<br>
		<td><%= button_to "Fill out Sibling Background",  new_sibling_background_path, method: :get, class: "btn btn-primary", style:"color:white"%></td>
		<br>
		<td><%= button_to "Fill out Educational Background",  new_education_background_path, method: :get, class: "btn btn-primary", style:"color:white"%></td>
		<br>
		<td><%= button_to "Attach your Resume",  new_resume_path, method: :get, class: "btn btn-primary", style:"color:white"%></td>	

		<br>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %> |
		<%= link_to "Log out", logout_path, method: "delete" %>
	<% elsif(current_user.id==nil) %>
		<p>Dude. You're not logged in.</p>
		<%= link_to 'Go to Login Page', login_path %>
	<%else%>
		<p>Dude. This is not your profile.</p>
		<%= link_to 'Go back to your Profile', user_path(current_user) %>	
	<%end%>
</body>
</html>