<p id="notice"><%= notice %></p>

<h1>Family Backgrounds</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>My current occupaion</th>
      <th>Father current occupation</th>
      <th>Mother current occupation</th>
      <th>Number of siblings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_backgrounds.each do |family_background| %>
      <tr>
        <td><%= family_background.user_id %></td>
        <td><%= family_background.my_current_occupaion %></td>
        <td><%= family_background.father_current_occupation %></td>
        <td><%= family_background.mother_current_occupation %></td>
        <td><%= family_background.number_of_siblings %></td>
        <td><%= link_to 'Show', family_background %></td>
        <td><%= link_to 'Edit', edit_family_background_path(family_background) %></td>
        <td><%= link_to 'Destroy', family_background, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family Background', new_family_background_path %>
